
*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.user
logs/
UpgradeLog*
_UpgradeReport_Files/
deploy/
[Rr]eport/*
*.Publish.xml
publish/*
nuget/

#Make sure report dir is created
![Rr]eport/Specs/.gitignore
![Rr]eport/Tests/.gitignore

# don't exclude the Ruby bin!
![Tt]ools/Rake/lib/ruby/gems/1.8/gems/rake-0.8.7/bin/
![Tt]ools/Rake/bin